﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UC_TongHopBanDienCuaDonVi.ascx.cs" Inherits="VIPortal.APP.UserControls.Public.Portal.KTBaoCao.Dashboard_Chart.UC_TongHopBanDienCuaDonVi" %>
