﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UC_TongHopChiTieuKinhDoanh.ascx.cs" Inherits="VIPortal.APP.UserControls.Public.Portal.KTBaoCao.Dashboard_Chart.UC_TongHopChiTieuKinhDoanh" %>
