﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ckfinder.aspx.cs" Inherits="VIPORTAL.oWeb.Contents.ckfinder.Giaodien.ckfinder" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1></h1>
        </div>
    </form>
</body>
</html>
