<%@ control language="C#" autoeventwireup="true" codebehind="UC_BinhLuan.aspx.cs" inherits="VIPortalAPP.UserControls.AdminCMS.BinhLuan.UC_BinhLuan" %>
<div role="body-data" data-title="" class="content_wp" data-action="/UserControls/AdminCMS/BinhLuan/pAction.asp" data-form="/UserControls/AdminCMS/BinhLuan/pFormBinhLuan.aspx" data-view="/UserControls/AdminCMS/BinhLuan/pViewBinhLuan.aspx">
    <div class="card card-default color-palette-box">
        <div class="card-body">
            <div class="clsmanager row">
                <div class="col-sm-9">
                    <div id="BinhLuanSearch" class="form-inline zonesearch">
                        <div class="form-group">
                            <input type="hidden" name="do" id="do" value="QUERYDATA" />
                            <label for="Keyword">Từ khóa</label>
                            <input type="text" class="form-control mr-2" id="Keyword" name="Keyword" placeholder="Từ khóa">
                            <input type="hidden" name="SearchInAdvance" id="SearchInAdvance" value="Title,BaiViet" />
                            <select data-url="/UserControls/Forum/ForumChuDe/pAction.ashx?do=QUERYDATA" data-place="Chọn chủ đề" name="IDChuDe" id="IDChuDe" class="form-control mr-2"></select>
                            <select data-url="/UserControls/AdminCMS/BaiVietDienDan/pAction.asp?do=QUERYDATA" data-place="Chọn bài viết" name="BaiViet" id="BaiViet" class="form-control mr-2" style="width:300px;"></select>
                        </div>
                        <button type="button" class="btn btn-default act-search">Tìm kiếm</button>
                    </div>
                </div>
                <div class="col-sm-3">
                    <p class="text-right">
                        
                    </p>
                </div>
            </div>
            <div class="clsgrid table-responsive">
                <table id="tblBinhLuan" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
                </table>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //IDChuDe
        $("#IDChuDe").smSelect2018V2({
            dropdownParent: "#BinhLuanSearch",

        });
        
        $("#BaiViet").smSelect2018V2({
            dropdownParent: "#BinhLuanSearch",
            Ajax: true,
            parameterPlus: function (data) {
                data["ChuDe"] = $("#IDChuDe").val();
            }
        });
        var $tagvalue = $(".content_wp");
        var $tblDanhMucChung = $("#tblBinhLuan").viDataTable(
            {
                "frmSearch": "BinhLuanSearch",
                "url": $tagvalue.data("action"),
                "aoColumns":
                    [
                        {
                            "mData": function (o) {                                
                                return '<a data-id="' + o.ID + '" >' + formatDateTime(o.Created) + '</a>';
                            },
                            "name": "Created", "sTitle": "Ngày bình luận",
                            "sWidth": "100px",
                        }, {
                            "mData": function (o) {
                                return '<a data-Itemid="' + o.ID + '" class="act-view" href="javascript:;">' + o.Title + '</a>';
                            },
                            "name": "Title", "sTitle": "Nội dung"
                        }, {
                            "mData": function (o) {
                                return '<a data-id="' + o.ID + '">' + o.CreatedUser.Title + '</a>';
                            },
                            "name": "CreatedUser", "sTitle": "Người bình luận",
                            "sWidth": "120px",
                        }, {
                            "mData": function (o) {
                                var baivietchude = '';
                                if (o.IDChuDe != null) {
                                    baivietchude = o.IDChuDe.Title;
                                }
                                if (o.BaiViet != null)
                                    baivietchude += ("/" + o.BaiViet.Title);
                                return baivietchude;
                            },
                            "name": "BaiViet", "sTitle": "Chủ đề/Bài viết"
                        }, 
                        {
                            "mData": null,
                            "bSortable": false,
                            "className": "all",
                            "sWidth": "18px",
                            "mRender": function (o) {
                                if (o._ModerationStatus == 0)

                                    return '<a title="Hủy duyệt" data-id="' + o.ID + '" class="btn default btn-xs black act-pendding" href="javascript:;"><i class="fa fa-toggle-on"></i></a>';
                                else
                                    return '<a title="Duyệt" data-id="' + o.ID + '" class="btn default btn-xs blue act-approved" href="javascript:;"><i class="fa fa-toggle-off"></i></a>';
                            }
                        }, {
                            "sTitle": '<a class="btn default btn-xs origan act-delete-multi" href="javascript:;"><i class="far fa-trash-alt"></i></a>',
                            "mData": null,
                            "bSortable": false,

                            "className": "all",
                            "sWidth": "18px",
                            "mRender": function (o) { return '<a data-id="' + o.ID + '" class="btn default btn-xs origan act-delete" data-do="DELETE" title="Xóa"  data-ItemID="' + o.ID + '" href="javascript:;"><i class="far fa-trash-alt"></i></a>'; }
                        }, {
                            "sTitle": '<input class="checked-all" type="checkbox" />',
                            "mData": null,
                            "bSortable": false,
                            "sWidth": "18px",
                            "className": "all",
                            "mRender": function (o) { return '<input class="check-item" type="checkbox" data-id="' + o.ID + '" />'; }
                        }
                    ],
                "aaSorting": [0, 'asc']
            });
    });
</script>
