﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AdminHeader.ascx.cs" Inherits="VIPortal.APP.UserControls.AdminCMS.MenuAdmin.AdminHeader" %>
<style>
    .dropdown-menu {
        max-height: 663px;
        overflow-y: auto;
    }
</style>
<nav id="BannerLog" class="main-header navbar navbar-expand navbar-white navbar-light" data-PerMission="<%=CurentUser.PermissionsQuery %>">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                <i class="fas fa-bars"></i>
            </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/cms" class="nav-link">Home
            </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Contact
            </a>
        </li>
    </ul>
    <!-- SEARCH FORM -->
    <div class="form-inline ml-3" style="display: none;">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" />
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-comments"></i>
                <span class="badge badge-danger navbar-badge">5
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="/Content/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle" />
                        <div class="media-body">
                            <h3 class="dropdown-item-title">Brad Diesel<span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">
                                Call me whenever you can...
                            </p>
                            <p class="text-sm text-muted">
                                <i class="far fa-clock mr-1"></i>
                                4 Hours Ago                                               
                            </p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                <div class="dropdown-divider">
                </div>
                <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="/Content/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3" />
                        <div class="media-body">
                            <h3 class="dropdown-item-title">John Pierce<span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">
                                I got your message bro
                            </p>
                            <p class="text-sm text-muted">
                                <i class="far fa-clock mr-1"></i>
                                5 Hours Ago                                               
                            </p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                <div class="dropdown-divider">
                </div>
                <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="/Content/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3" />
                        <div class="media-body">
                            <h3 class="dropdown-item-title">Nora Silvester<span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">
                                The subject goes here
                            </p>
                            <p class="text-sm text-muted">
                                <i class="far fa-clock mr-1"></i>
                                6 Hours Ago                                               
                            </p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                <div class="dropdown-divider">
                </div>
                <a href="#" class="dropdown-item dropdown-footer">See All Messages
                </a>
            </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge"><%=TotalNotifi %>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header"><%=TotalNotifi %> thông báo mới</span>
                <%foreach(var item in lstLNotification){%>
                <div class="dropdown-divider">
                </div>
                <a href="<%=item.UrlLink %>" class="dropdown-item">
                    <i class="fas fa-bullhorn" style="color:red;padding-top: 10px;"></i> <span style="white-space: normal !important; font-size: 14px;"><%=item.Title %></span><span class="float-right text-muted text-sm"><%=string.Format("{0:dd/MM/yyyy}", item.LNotiSentTime )%></span>
                </a>
                <%} %>
                <%--<a href="#" class="dropdown-item dropdown-footer">See All Notifications
                </a>--%>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>
