﻿<%@ page language="C#" autoeventwireup="true" codefile="ChiTietBCTongHop.aspx.cs" inherits="VIPortal.APP.UserControls.Public.Portal.KTBaoCao.DauTuXayDung.ChiTietBCTongHop" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    
</body>
</html>
