﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="BaoCaoChatLuongCongNhanKT.aspx.cs" Inherits="VIPortal.APP.UserControls.Public.Portal.KTBaoCao.BaoCaoLinhVucQuanTri.BaoCaoChatLuongCongNhanKT" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" href="/Content/dist/css/StyleBaoCao.css" rel="stylesheet" />
    <style type="text/css">
        .zone_search {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <div id="BaoCaoSoDangKy" class="smgrid" data-title="Văn bản đến" data-grid="grid_BaoCaoSoDKVanBanDen"
        data-form="/iVBDH/VanBanDen/pFormVanBanDen.aspx" data-formwidth="1200" data-action="/Vbden/api/VanBanDen/VBDGetListJsonGroupSolr" data-view="/Vbden/VanBanDen/pViewVanBanDen.aspx">
        <div class="zone_search" id="baocao">
            <div class="form-horizontal">
                <input type="hidden" name="ItemID" value="<%=ItemID %>" />
                <input type="hidden" name="CurentUser" value="<%=CurentUser.Title %>" />
                <div class="title_icon">
                </div>
               <%-- <div class="form-group row text-search align-items-center">
                    <label class="col-sm-2 control-label">Từ ngày:</label>

                    <div class="col-sm-3">
                        <input type="text" name="SearchTuNgay" id="SearchTuNgay" class="form-control input-datetime" placeholder="Từ ngày" value="<%=DateTime.Now.AddMonths(-30).ToString("dd/MM/yyyy") %>" />
                    </div>
                    <label class="col-sm-2 control-label">Đến ngày:</label>
                    <div class="col-sm-3">
                        <input type="text" name="SearchDenNgay" id="SearchDenNgay" class="form-control input-datetime" placeholder="Đến ngày" value="<%=DateTime.Now.ToString("dd/MM/yyyy") %>" />
                    </div>
                   
                </div>--%>
                <div class="form-group row text-search align-items-center">
                    <label class="col-sm-2 control-label">Loại báo cáo:</label>

                    <div class="col-sm-3">
                     <select class="form-control" id="LoaiBaoCao" name="LoaiBaoCao">
                        <option value="1">Báo cáo tháng</option>
                        <option value="2">Báo cáo quý</option>
                        <option value="3">Báo cáo 6 tháng</option>
                        <option value="4">Báo cáo năm</option>
                      </select>
                    </div>
                    <label class="col-sm-2 control-label">Kỳ báo cáo:</label>
                    <div class="col-sm-3">
                       <select class="form-control" id="KyBaoCao" name="KyBaoCao">
                        <option value="1">Tháng báo cáo</option>
                        <option value="2">Qúy báo cáo</option>
                      </select>
                    </div> 
                   
                  
                </div> 
                <div class="form-group row text-search align-items-center"> 
                   <label class="col-sm-2 control-label">Năm báo cáo :</label>
                    <div class="col-sm-3">
                        <input type="text" name="BaoCaoNam" id="BaoCaoNam" class="form-control " placeholder="Đến ngày" value="<%=DateTime.Now.ToString("yyyy") %>" />
                    </div>
                        <label class="col-sm-2 control-label">Đơn Vị:</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="LoaiDV" name="LoaiDV">
                            <option value="284">Công ty Điện lực Hoàn Kiếm</option>
                            <option value="285">Công ty Điện lực Hai Bà Trưng</option>
                            <option value="286">Công ty Điện lực Ba Đình</option>
                            <option value="287">Công ty Điện lực Đống Đa</option>
                            <option value="291">Công ty Điện lực Nam Từ Liêm</option>
                            <option value="295">Công ty Điện lực Thanh Trì</option>
                            <option value="292">Công ty Điện lực Gia Lâm</option>
                            <option value="293">Công ty Điện lực Đông Anh</option>
                            <option value="294">Công ty Điện lực Sóc Sơn</option>
                            <option value="288">Công ty Điện lực Tây Hồ</option>
                            <option value="290">Công ty Điện lực Thanh Xuân</option>
                            <option value="289">Công ty Điện lực Cầu Giấy</option>
                            <option value="296">Công ty Điện lực Hoàng Mai</option>
                            <option value="297">Công ty Điện lực Long Biên</option>
                            <option value="298">Công ty Điện lực Mê Linh</option>
                            <option value="299">Công ty Điện lực Hà Đông</option>
                            <option value="300">Công ty Điện lực Sơn Tây</option>
                            <option value="301">Công ty Điện lực Chương Mỹ</option>
                            <option value="302">Công ty Điện lực Thạch Thất</option>
                            <option value="303">Công ty Điện lực Thường Tín</option>
                            <option value="304">Công ty Điện lực  Ba Vì</option>
                            <option value="305">Công ty Điện lực Đan Phượng</option>
                            <option value="306">Công ty Điện lực Hoài Đức</option>
                            <option value="307">Công ty Điện lực Mỹ Đức</option>
                            <option value="308">Công ty Điện lực Phú Xuyên</option>
                            <option value="309">Công ty Điện lực Phúc Thọ</option>
                            <option value="310">Công ty Điện lực Quốc Oai</option>
                            <option value="311">Công ty Điện lực Thanh Oai</option>
                            <option value="312">Công ty Điện lực Ứng Hòa</option>
                            <option value="481">Công ty Điện lực Bắc Từ Liêm</option>
                            <option value="281">Công ty Công nghệ thông tin Điện lực Hà Nội</option>
                            <option value="280">Trung tâm điều độ Hệ thống điện TP Hà Nội</option>
                            <option value="488">Trung tâm chăm sóc khách hàng</option>
                            <option value="282">Công ty Thí nghiệm điện Điện lực Hà Nội</option>
                            <option value="318">Công ty lưới điện cao thế Thành phố Hà Nội</option>
                            <option value="313">Công ty Dịch vụ Điện lực Hà Nội</option>
                            <option value="277">Ban QLDA lưới điện Hà Nội</option>
                            <option value="477">BQLDA Phát triển điện lực Hà Nội</option>
                        </select>
                    </div>
                     
                    
                </div>
                    <div class="form-group row text-search align-items-center">
                         <div class="col-sm-4 ">
                         <button type="button" class="btn btn-primary thongke">Thống kê</button>
                        <button type="button" class="btn btn-primary" id="btnExel">Excel</button>
                       
                    </div>
                    </div>

            </div>
        </div>
        <hr />
        <div class="mainContentBaoCao">
            <div style="">
                <div style="width: 35%; float: left; text-align:center">
                      <p style="font-size: 10pt; width: 100%"><b class="TieuDeTrai1"></b></p>
                    <p style="font-size: 12pt; width: 100%"><b class="TieuDeTrai2"></b></p>
                    <p style="font-size: 12pt; width: 100%"><b class="">—————————</b></p>
                </div>
                <div style="width: 50%; float: left; text-align:center">
                    <p style="font-size: 12pt; width: 100%"><b class="TieuDeGiua1"></b></p>
                    <p style="font-size: 12pt; width: 100%"><b class="TieuDeGiua2"></b></p>
                    <p style="font-size: 12pt; width: 100%"><b class="">—————————</b></p>
                   
                </div>
                <div style="width: 15%; float: left; text-align:center">
                      <p style="font-size: 12pt; width: 100%"><p class="LoaiBM"></p></p>
                </div>
                <div>
                    <div style="width:100%  ;float:left" >
                        <p style="font-size: 14pt; width: 100%; text-align: center"><b class="Title"></b></p>
                         <p style="font-size: 12pt; width: 100% ;text-align: center"> <b>Năm <i class="Nam"></i></b></p>
                         <p style="font-size: 12pt; width: 100%; text-align:end" class="SoBM"></p>
                    </div>
                </div>

            </div>
            <div class="smtable_header">
                   <table class="smtable">
                    <thead>
                        <tr>
                            <th style="width: 2%" rowspan="2">STT</th>
                            <th style="width: 15%"rowspan="2">DANH MỤC NGHỀ</th>
                            <th style="width: 5%;" rowspan="2">Mã số</th>
                            <th style="width: 10%;" colspan="2">SỐ CÓ MẶT (đến kỳ báo cáo)</th>                             
                            <th style="width: 25%;" colspan="7">BẬC THỢ (theo thang lương)</th>
                            <th style="width: 20%;" colspan="5">BẬC THỢ (theo bảng lương)</th>
                        </tr>
                        <tr>                              
                            <th>Tổng số</th>  
                            <th>Nữ</th>  
                            <th>I</th>  
                            <th>II</th>  
                            <th>III</th>  
                            <th>IV</th>  
                            <th>v</th>  
                            <th>VI</th>  
                            <th>VII</th>  
                            <th>I</th>  
                            <th>II</th>  
                            <th>III</th>  
                            <th>IV</th>  
                            <th>V</th>  
                          
                        </tr>
                        <tr>                              
                            <th>A</th>  
                            <th>B</th>  
                            <th>C</th>  
                            <th>1</th>  
                            <th>2</th>  
                            <th>3</th> 
                            <th>4</th>  
                            <th>5</th>  
                            <th>6</th>  
                            <th>7</th>  
                            <th>8</th>  
                            <th>9</th>  
                            <th>10</th>  
                            <th>11</th>  
                            <th>12</th>  
                            <th>13</th>  
                            <th>14</th>  
                        </tr>
                    </thead>
                    <tbody class="clsContent">
                       
                    </tbody>
                </table>
            </div>
            <script id="javascriptTemplate" type="text/x-kendo-template">
            <tr class="clsvbd styletr#=Style#" data-id="">
                <td style="width: 2%" >#=STT !=null ? STT : ""#</td>
                <td style="width: 15%" >#=DanhMucNghe !=null ? DanhMucNghe : ""#</td>
                <td style="width: 5%" >#=MaSo !=null ? MaSo : ""#</td>
                <td style="width: 5%" >#=TongSoCoMat !=null ? TongSoCoMat : ""#</td>
                <td style="width: 5%" >#=NuCoMat !=null ? NuCoMat : ""#</td>
                <td style="width: 3.57%" >#=BTThangLuongI !=null ? BTThangLuongI : ""#</td>
                <td style="width: 3.57%" >#=BTThangLuongII !=null ? BTThangLuongII : ""#</td>
                <td style="width: 3.57%" >#=BTThangLuongIII !=null ? BTThangLuongIII : ""#</td>
                <td style="width: 3.57%" >#=BTThangLuongIV !=null ? BTThangLuongIV : ""#</td>
                <td style="width: 3.57%" >#=BTThangLuongV !=null ? BTThangLuongV : ""#</td>
                <td style="width: 3.57%" >#=BTThangLuongVI !=null ? BTThangLuongVI : ""#</td>
                <td style="width: 3.57%" >#=BTThangLuongVII !=null ? BTThangLuongVII : ""#</td>
                <td style="width: 4%" >#=BTBangLuongI !=null ? BTBangLuongI : ""#</td>
                <td style="width: 4%" >#=BTBangLuongII !=null ? BTBangLuongII : ""#</td>
                <td style="width: 4%" >#=BTBangLuongIII !=null ? BTBangLuongIII : ""#</td>
                <td style="width: 4%" >#=BTBangLuongIV !=null ? BTBangLuongIV : ""#</td>
                <td style="width: 4%" >#=BTBangLuongV !=null ? BTBangLuongV : ""#</td>
               
            </tr>
            </script>
           
           
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        ThongKe();
        $(".thongke").click(function () {
            ThongKe();
        });
        $(".timkiem").click(function () {
            ThongKe();
        });
        $(".input-datetime").daterangepicker({
            singleDatePicker: true,
            locale: { format: 'DD/MM/YYYY' }
        });

        $("#btnExel").click(function () {
            var $datathongke = $(".zone_search").siSerializeDivFrm();
            var str = jQuery.param($datathongke);
            var Url = "/VIPortalAPI/api/BCLinhVucQuanTri/QUERYDATA_BaoCaoChatLuongCongNhanKT?excel=1&" + str + "&TitleBC=" + $("#TitleBC").text();
            my_window = window.open(Url, "mywindow1");
        });
        $("#btnword").click(function () {
            var $datathongke = $(".zone_search").siSerializeDivFrm();
            var str = jQuery.param($datathongke);
            var Url = "/VIPortalAPI/api/BCLinhVucQuanTri/QUERYDATA_BaoCaoChatLuongCongNhanKT?word=1&" + str + "&TitleBC=" + $("#TitleBC").text();
            my_window = window.open(Url, "mywindow1");

        });
    });
    function ThongKe() {
      //  $("#tungay").text($("#SearchTuNgay").val());
       // $("#denngay").text($("#SearchDenNgay").val());
        loading();
        var data = $(".zone_search").siSerializeArray();
        $.post("/VIPortalAPI/api/BCLinhVucQuanTri/QUERYDATA_BaoCaoChatLuongCongNhanKT?", data, function (data) {

            $(".Title").text(data.Title);
            $(".LoaiBM").text(data.LoaiBM);
            $(".TieuDeTrai1").text(data.TieuDeTrai1);
            $(".TieuDeTrai2").text(data.TieuDeTrai2);
            $(".Nam").text(data.Nam);
            $(".TieuDeGiua1").text(data.TieuDeGiua1);
            $(".TieuDeGiua2").text(data.TieuDeGiua2);
            $(".TieuDeGiua3").text(data.TieuDeGiua3);
            $(".SoBM").text(data.SoBM);

            var htmlTEmp = '';
            var templatehtmltr = kendo.template($("#javascriptTemplate").html());
            $(".mainContentBaoCao .clsContent").html("");
            if (data.data.length > 0) {
                for (var i = 0; i < data.data.length; i++) {
                    data.data[i]["data"] = i + 1;
                    htmlTEmp += templatehtmltr(data.data[i]);
                }

                $(".mainContentBaoCao .clsContent").append(htmlTEmp);                
            }
            $(".smtable thead").css('width', 'calc( 100% - ' + getScrollBarWidth() + 'px )');

            $('#tongbanghi').text("Có tổng số: " + data.data.length + " bản ghi");

            $(".clsvbd").css('cursor', 'pointer');
             Endloading();
        });
       
    }

</script>
</html>

