<%@ control language="C#" autoeventwireup="true" codebehind="UC_CommentMXH.aspx.cs" inherits="VIPortalAPP.CommentMXH.UC_CommentMXH" %>
<div role="body-data" data-title="" class="content_wp" data-action="/UserControls/AdminCMS/CommentMXH/pAction.asp" data-form="/UserControls/AdminCMS/CommentMXH/pFormCommentMXH.aspx" data-view="/UserControls/AdminCMS/CommentMXH/pFormCommentMXH.aspx">
    <div class="card card-default color-palette-box">
        <div class="card-body">
            <div class="clsmanager row">
                <div class="col-sm-9">
                    <div id="CommentMXHSearch" class="form-inline zonesearch">
                        <div class="form-group">
                            <input type="hidden" name="do" id="do" value="QUERYDATA" />
                            <label for="Keyword">Từ khóa</label>
                            <input type="text" class="form-control" id="Keyword" name="Keyword" placeholder="Từ khóa">
                            <input type="hidden" name="SearchInAdvance" id="SearchInAdvance" value="Titles" />
                        </div>
                        <button type="button" class="btn btn-default act-search">Tìm kiếm</button>
                    </div>
                </div>
                <%--<div class="col-sm-3">
            <p class="text-right">
                <button class="btn btn-primary act-add" type="button">Thêm mới</button>
            </p>
        </div>--%>
            </div>
     
    <div class="clsgrid table-responsive">

        <table id="tblCommentMXH" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
        </table>

    </div>
               </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        var $tagvalue = $(".content_wp");
        var $tblDanhMucChung = $("#tblCommentMXH").viDataTable(
            {
                "frmSearch": "CommentMXHSearch",
                "url": $tagvalue.data("action"),
                "aoColumns":
                    [
                        {
                            "mData": function (o) {
                                if (o.Titles.length > 300) {
                                    return '<a data-Itemid="' + o.ID + '" class="act-view" href="javascript:;">' + o.Titles.substr(0, 300) + '...' + '</a>';
                                }
                                else {
                                    return '<a data-Itemid="' + o.ID + '" class="act-view" href="javascript:;">' + o.Titles + '</a>';
                                }
                            },
                            "sWidth": "500px",
                            "name": "Titles", "sTitle": "Bình luận"
                        },
                        {
                            "mData": function (o) {
                                return o.BaiViet.Title;
                                if (o.BaiViet.Title.length > 300) {
                                    return o.BaiViet.Title.substr(0, 300) + '...';
                                }
                                else {
                                    return o.BaiViet.Title;
                                }
                            },
                            "sWidth": "500px",
                            "name": "BaiViet", "sTitle": "Bài viết"
                        },
                        {
                            "mData": null,
                            "bSortable": false,
                            "className": "all",
                            "sWidth": "18px",
                            "mRender": function (o) {
                                if (o._ModerationStatus == 0)

                                    return '<a title="Hủy duyệt" data-id="' + o.ID + '" class="btn default btn-xs black act-pendding" href="javascript:;"><i class="fa fa-toggle-on"></i></a>';
                                else
                                    return '<a title="Duyệt" data-id="' + o.ID + '" class="btn default btn-xs blue act-approved" href="javascript:;"><i class="fa fa-toggle-off"></i></a>';
                            }
                        }, {
                            "mData": null,
                            "bSortable": false,
                            "sWidth": "18px",
                            "className": "all",
                            "mRender": function (o) { return '<a class="btn default btn-xs purple act-edit" data-ItemID="' + o.ID + '" href="javascript:;"><i class="fa fa-edit"></i></a>'; }
                        }, {
                            "sTitle": '<a class="btn default btn-xs origan act-delete-multi" href="javascript:;"><i class="far fa-trash-alt"></i></a>',
                            "mData": null,
                            "bSortable": false,

                            "className": "all",
                            "sWidth": "18px",
                            "mRender": function (o) { return '<a data-id="' + o.ID + '" class="btn default btn-xs origan act-delete" data-do="DELETE" title="Xóa"  data-ItemID="' + o.ID + '" href="javascript:;"><i class="far fa-trash-alt"></i></a>'; }
                        }, {
                            "sTitle": '<input class="checked-all" type="checkbox" />',
                            "mData": null,
                            "bSortable": false,
                            "sWidth": "18px",
                            "className": "all",
                            "mRender": function (o) { return '<input class="check-item" type="checkbox" data-id="' + o.ID + '" />'; }
                        }
                    ],
                "aaSorting": [0, 'asc']
            });
    });
</script>
