<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="pViewLienKetWebsite.aspx.cs" Inherits="VIPortalAPP.UserControls.AdminCMS.LienKetWebsite.pViewLienKetWebsite" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form class="form-horizontal form-viewdetail">
        <div class="form-group row">
            <label for="STT" class="col-sm-2 control-label">STT</label>
            <div class="col-sm-10">
                <%=oLienKetWebsite.STT%>
            </div>
        </div>
        <div class="form-group row">
            <label for="Title" class="col-sm-2 control-label">Tiêu đề</label>
            <div class="col-sm-10">
                <%=oLienKetWebsite.Title%>
            </div>
        </div>
        <div class="form-group row">
            <label for="Link" class="col-sm-2 control-label">Địa chỉ liên kết</label>
            <div class="col-sm-10">
                <%=oLienKetWebsite.Link%>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="MoTa" class="col-sm-2 control-label">MoTa</label>
            <div class="col-sm-10">
                <%=oLienKetWebsite.MoTa%>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 control-label">Ngày tạo</label>
            <div class="col-sm-4">
                <%=string.Format("{0:dd/MM/yyyy hh:mm tt}", oLienKetWebsite.Created)%>
            </div>
            <label class="col-sm-2 control-label">Ngày sửa cuối</label>
            <div class="col-sm-4">
                <%=string.Format("{0:dd/MM/yyyy hh:mm tt}",oLienKetWebsite.Modified)%>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">Người tạo</label>
            <div class="col-sm-4">
                <%=oLienKetWebsite.Author.LookupValue%>
            </div>
            <label class="col-sm-2 control-label">Người sửa</label>
            <div class="col-sm-4">
                <%=oLienKetWebsite.Editor.LookupValue%>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">File đính kèm</label>
            <div class="col-sm-10">
                <%for(int i=0; i< oLienKetWebsite.ListFileAttach.Count;i++){ %>
                <div><a href="<%=oLienKetWebsite.ListFileAttach[i].Url %>"><%=oLienKetWebsite.ListFileAttach[i].Name%></a></div>
                <%} %>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</body>
</html>
